<section>
    <div class="parallax-container">
        <div class="parallax"><img src="\assets\svgs\parallax.svg" /></div>
    </div>
    <h1 class="center">Место для слогана</h1>
</section>
<div class="container">
    <section>
        <div class="row">
            <div class="col s4">
                <div class="card-panel z-depth-3 indigo accent-2 white-text center">
                    <i class="material-icons">memory</i>
                    <span class="flow-text">Высокие технологии</span>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel z-depth-3 indigo accent-2 white-text center">
                    <i class="material-icons">attach_money</i>
                    <span class="flow-text">Низкие цены</span>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel z-depth-3 indigo accent-2 white-text center">
                    <i class="material-icons">speed</i>
                    <span class="flow-text">В короткие сроки</span>
                </div>
            </div>
        </div>
    </section>
</div>
<section>
    <div class="parallax-container">
        <div class="parallax"><img src="\assets\svgs\parallax-2.svg" /></div>
    </div>
</section>